
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#2d354a;
    
}

.calculator
{
    border: 1px solid #2d354a;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 18px 11px 74px rgba(226, 216, 218, 0.5);
    
   
}
#result{
    width: 320px;
    border: 3px;
    padding: 24px;
    margin: 10px;
    box-shadow: inset -6px 20px 15px 0px rgb(34 1 1 / 20%);
    font-size: 40px;
    text-align: right;
    background-color: rgba(145,255,0,0.211);
    cursor: pointer;
}
input::placeholder{
    color: #f3c6c6;
}
    input{
        border: 3px;
        width: 60px;
        height: 60px;
        margin: 10px;
        border-radius:30%;
        color:rgb(235, 19, 19);
        font-size: 25px;
        box-shadow: -8px -9px 15px rgba(153, 8, 8, 0.712);
        cursor: pointer;
    }
    input:hover{
      background-color: rgb(7, 7, 6);
      height: 61px;
    }
    
.eq{
    background-color: rgb(221, 200, 8);
}
#AC{
 
    background-color: #b86d18;
}
#AC:hover{
  background-color: rgb(102, 177, 41);
}
.eq:hover {
    background-color: rgb(85, 212, 35);
}